/* デバッグ用 */
/* すべての要素に点線の枠線を設定 */ 
* {
    border: 1px dotted red; 
}

/* base */
body {
    background-color: #EAE5DE;
}

/* lyout */
.header {
    padding-top: 20px;
}

.header__header-inner {
    width: 700px;
    margin: 0 auto;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
}

.hero-area {
    height: 400px;
    padding-top: 35px;
    padding-bottom: 10px;
}

.hero-area__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    /* width: auto; */
    height: 50px;
    background-color: #656565;
}

.footer__inner {
    width: 350px;
    margin: 0 auto;
}

.footer__copyright {
    text-align: center;
    color: #EAE5DE;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 150px;
}

.global-nav {
    display: flex;
    justify-content:center;
}

.global-nav__item {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
  
.global-nav__item:last-child .global-nav__link::after {
    content: none;
}
  
.global-nav__link {
    font-family: "Potta One", system-ui;
    font-weight: 400;
    font-style: normal;
    position: relative;
    display: block;
    padding: 15px 5px;
    border-bottom: 2px solid transparent;
    color: #707070;
    text-decoration: none;
    transition: border-bottom-color .25s;
}
  
.global-nav__link:focus,
.global-nav__link:hover {
    border-bottom-color: #000000;
}

.hamburger-menu {
    cursor: pointer;
    width: 30px;
    height: 25px;
    display: none; /* PC表示では非表示 */
    flex-direction: column;
    justify-content: space-between;
    z-index: 33;
}

.hamburger-menu span {
    display: block;
    height: 4px;
    background-color: #333;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.hamburger-menu.open span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
    background-color: #ffffff;
}

.hamburger-menu.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.open span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
    background-color: #ffffff;
}

/* メディア部品のスタイル */
.media {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.media__image {
    flex: 1;
    margin-right: 20px;
}

.media__image img {
    width: 100%;
    height: auto;
    display: block;
}

.media__content {
    flex: 2;
}

.media__title {
    font-family: "Potta One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    margin: auto;
}

.media__description {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    font-family: 'arial','Hiragino Sans', 'Meiryo', sans-serif;
}

.case-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.case {
    padding: 20px;
}

.case__title {
    font-family: "Potta One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.case__description {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    font-family: 'arial','Hiragino Sans', 'Meiryo', sans-serif;
}

/* デバッグ用 */
.case__image img {
    width: 250px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"] {
    width: calc(50% - 10px);
    display: inline-block;
}

.form-group input[type="text"]:first-child {
    margin-right: 10px;
}

.form-group button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #555;
}

.required {
    color: red;
}

/* スマートフォン用スタイル */
@media (max-width: 768px) {
    .hero-area {
        height: 200px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .header__header-inner {
        width: 350px;
        border-top: none;
        border-bottom: none;
    }

    .hamburger-menu {
        display: flex; /* スマホ表示では表示 */
        position: absolute; /* 固定表示 */
        top: 20px; /* 上部からの位置 */
        right: 20px; /* 右側からの位置 */
        z-index: 3; /* メニューより上に表示 */
    }

    .global-nav {
        display: none; /* 通常時は非表示 */
    }

    .global-nav.active {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(128, 128, 128, 0.98);
        border-radius: 15px;
        z-index: 2;
    }

    .global-nav__item {
        margin: 20px 0;
        border-bottom: #FFFFFF solid 1px;
    }

    .global-nav__link {
        font-size: 24px;
        color: #fff;
        display:inline;
    }

    .section {
        margin-top: 33px;
        margin-bottom: 33px;
    }
    
    .section__title {
        font-size: 20px;
        font-family: "Potta One", system-ui;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        margin-bottom: 10px;
    }
    
    .section__description {
        text-align: center;
        font-size: 13px;
        font-family: 'arial','Hiragino Sans', 'Meiryo', sans-serif;
        line-height: 2em;
    }
    
    .section__list-container {
        background-color: rgba(33, 33, 33, 0.3);
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        border-radius: 10px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
    .section__list-container__inner {
        background-color: #FFFFFF;
        width:96%;
        height: auto;
        border-radius: 10px;  
    }
    
    .section__list-container__inner ul {
        padding-left: 3%;
        padding-right: 3%;
    }
    
    .section__list-container__inner ul li {
        margin-top: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid #000000;
        font-size: 10px;
    }
    
    .wide-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .section__link-btn {
        font-weight: bold;
        color: #d85959;
    }

    .media {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .media__image {
        /* margin-right: 0;
        margin-bottom: 20px; */
        margin: auto;
    }

    .media__image img {
        margin: auto;
        width: 80%;    
        height: auto;
        display: block;
    }

    .media__content {
        flex: 2;
        margin: auto;
    }
}

/* PC表示用スタイル */
@media (min-width: 769px) {
    .global-nav {
        display: flex; /* PC表示では表示 */
        justify-content: center;
    }

    .global-nav__item {
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }

    .global-nav__link {
        font-size: 18px;
        font-family: "Potta One", system-ui;
        font-weight: 400;
        font-style: normal;
        position: relative;
        display: block;
        padding: 15px 5px;
        border-bottom: 2px solid transparent;
        color: #707070;
        text-decoration: none;
        transition: border-bottom-color .25s;
    }

    .global-nav__link:focus,
    .global-nav__link:hover {
        border-bottom-color: #000000;
    }

    .section {
        margin-top: 33px;
        margin-bottom: 33px;
    }
    
    .section__title {
        font-size: 25px;
        font-family: "Potta One", system-ui;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        margin-bottom: 10px;
    }
    
    .section__description {
        text-align: center;
        font-size: 18px;
        font-family: 'arial','Hiragino Sans', 'Meiryo', sans-serif;
        line-height: 2em;
    }
    
    .section__list-container {
        background-color: rgba(33, 33, 33, 0.3);
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        border-radius: 10px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
    .section__list-container__inner {
        background-color: #FFFFFF;
        width:96%;
        height: auto;
        border-radius: 10px;  
    }
    
    .section__list-container__inner ul {
        padding-left: 3%;
        padding-right: 3%;
    }
    
    .section__list-container__inner ul li {
        margin-top: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid #000000;
    }
    
    .wide-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .section__link-btn {
        font-weight: bold;
        color: #d85959;
    }

    .media {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: 20px 0;
    }
    
    .media__image {
        flex: 1;
        /* margin-right: 20px; */
        margin: auto;
    }
    
    .media__image img {
        width: 400px;
        display: block;
    }
    
    .media__content {
        flex: 2;
    }
    
    .media__title {
        font-size: 24px;
        margin-bottom: 10px;
    }
    
    .media__description {
        font-size: 20px;
        line-height: 1.5;
    }
}